# load dataset

In [1]:
import pandas as pd
df1 = pd.read_csv("student-scores.csv")
df = df1.copy()
df.head()

,id,first_name,last_name,email,gender,extracurricular_activities,riasec,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,27,Bachelor of Statistics,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,40,Bachelor of Supply Chain Management,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,True,30,Bachelor of Corporate Communications,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,40,Bachelor of Human Resouce Management,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,25,Bachelor of Development Studies,84,77,65,65,80,74,76

# drop irrelevant columns

In [2]:
df.columns
df.drop(columns=['id','first_name','last_name','email'],axis=1, inplace=True)

# create new features from all score

In [3]:
df["total_score"] = df["math_score"] + df["history_score"] + df["physics_score"] + df["chemistry_score"] + df["biology_score"] + df["english_score"] + df["geography_score"]
df["average_score"] = df["total_score"] / 7
df.head()

,gender,extracurricular_activities,riasec,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,27,Bachelor of Statistics,73,81,93,97,63,80,87,574,82.000000
1,female,False,40,Bachelor of Supply Chain Management,90,86,96,100,90,88,90,640,91.428571
2,female,True,30,Bachelor of Corporate Communications,81,97,95,96,65,77,94,605,86.428571
3,female,False,40,Bachelor of Human Resouce Management,71,74,88,80,89,63,86,551,78.714286
4,male,False,25,Bachelor of Development Studies,84,77,65,65,80,74,76,521,74.428571

In [4]:
df.head()

,gender,extracurricular_activities,riasec,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,27,Bachelor of Statistics,73,81,93,97,63,80,87,574,82.000000
1,female,False,40,Bachelor of Supply Chain Management,90,86,96,100,90,88,90,640,91.428571
2,female,True,30,Bachelor of Corporate Communications,81,97,95,96,65,77,94,605,86.428571
3,female,False,40,Bachelor of Human Resouce Management,71,74,88,80,89,63,86,551,78.714286
4,male,False,25,Bachelor of Development Studies,84,77,65,65,80,74,76,521,74.428571

# Encoding Categorical Columns

In [5]:
# from sklearn.preprocessing import LabelEncoder

# # Create a LabelEncoder object
# label_encoder = LabelEncoder()

# # Encode categorical columns using label encoder
# df['gender'] = label_encoder.fit_transform(df['gender'])
# df['part_time_job'] = label_encoder.fit_transform(df['part_time_job'])
# df['riasec'] = label_encoder.fit_transform(df['riasec'])
# df['career_aspiration'] = label_encoder.fit_transform(df['career_aspiration'])
# Define mapping dictionaries for categorical features
gender_map = {'male': 0, 'female': 1}
extracurricular_activities_map = {False: 0, True: 1}
career_aspiration_map = {
    "Bachelor of Statistics": 0,
    "Bachelor of Supply Chain Management": 1,
    "Bachelor of Corporate Communications": 2,
    "Bachelor of Human Resouce Management": 3,
    "Bachelor of Development Studies": 4,
    "Bachelor of Procurement and Contract Management": 5,
    "Bachelor of Project Management": 6,
    "Bachelor of Business Administration": 7,
    "Bachelor of Journalism": 8,
    "Bachelor of Business and Office Management": 9,
    "Bachelor of Economics and Statistics": 10,
    "Bachelor of Mass Communication": 11,
    "Bachelor of Commerce": 12,
    "Bachelor of Procurement and Logistics": 13,
    "Bachelor of Finance": 14,
    "Bachelor of Business Information Technology": 15,
    "Bachelor of Technology and Entrepreneurship Management": 16,
}
# Apply mapping to the DataFrame
df['gender'] = df['gender'].map(gender_map)
df['extracurricular_activities'] = df['extracurricular_activities'].map(extracurricular_activities_map)
df['career_aspiration'] = df['career_aspiration'].map(career_aspiration_map)

In [6]:
df.head()

,gender,extracurricular_activities,riasec,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,0,0,27,0,73,81,93,97,63,80,87,574,82.000000
1,1,0,40,1,90,86,96,100,90,88,90,640,91.428571
2,1,1,30,2,81,97,95,96,65,77,94,605,86.428571
3,1,0,40,3,71,74,88,80,89,63,86,551,78.714286
4,0,0,25,4,84,77,65,65,80,74,76,521,74.428571

# Balance Dataset

In [7]:
df['career_aspiration'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  9, 10, 11, 12, 15, 13, 16,  8, 14],
      dtype=int64)

In [8]:
df['career_aspiration'].value_counts()

career_aspiration
5     315
7     309
4     223
10    169
0     138
12    126
1     119
14     83
8      73
13     68
3      67
16     63
2      61
6      59
15     56
9      39
11     32
Name: count, dtype: int64

In [9]:
from imblearn.over_sampling import SMOTE

# Create SMOTE object
smote = SMOTE(random_state=42)

# Separate features and target variable
X = df.drop('career_aspiration', axis=1)
y = df['career_aspiration']

# Apply SMOTE to the data
X_resampled, y_resampled = smote.fit_resample(X, y)

In [10]:
print("Number of NaNs in y:", y.isna().sum())

Number of NaNs in y: 0

# Train test Split

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=0.2, random_state=42)

In [12]:
X_train.shape

(4284, 12)

# Feature Scalling

In [13]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
X_train_scaled.shape

(4284, 12)

# Models Training (Multiple Models)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

# Define models
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier": SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Gaussian Naive Bayes": GaussianNB(),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "XGBoost Classifier": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
}

# Train and evaluate each model
for name, model in models.items():
    print("="*50)
    print("Model:", name)
    # Train the model
    model.fit(X_train_scaled, y_train)
    
    # Predict on test set
    y_pred = model.predict(X_test_scaled)
    
    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)
    classification_rep = classification_report(y_test, y_pred)
    conf_matrix = confusion_matrix(y_test, y_pred)
    
    # Print metrics
    print("Accuracy:", accuracy)
    print("Classification Report:\n", classification_rep)
    print("Confusion Matrix:\n", conf_matrix)

==================================================
Model: Logistic Regression
Accuracy: 0.34827264239028943
Classification Report:
               precision    recall  f1-score   support

           0       0.30      0.25      0.27        68
           1       0.40      0.71      0.51        72
           2       0.22      0.12      0.16        57
           3       0.24      0.16      0.19        58
           4       0.33      0.09      0.14        66
           5       0.29      0.25      0.27        76
           6       0.40      0.62      0.49        71
           7       0.47      0.46      0.46        61
           8       0.24      0.33      0.28        49
           9       0.33      0.37      0.35        63
          10       0.22      0.11      0.15        64
          11       0.35      0.66      0.46        50
          12       0.41      0.41      0.41        69
          13       0.35      0.56      0.43        55
          14       0.36      0.16      0.22        62
          15       0.12      0.05      0.07        65
          16       0.47      0.63      0.54        65

    accuracy                           0.35      1071
   macro avg       0.32      0.35      0.32      1071
weighted avg       0.32      0.35      0.32      1071

Confusion Matrix:
 [[17  6  2  3  0  4  5  1  4  2  2 11  3  3  0  3  2]
 [ 2 51  0  0  0  5  1  0  0  8  0  0  0  4  0  0  1]
 [ 3  2  7  4  0  1  2  4 10  3  0  7  4  7  0  2  1]
 [ 2  7  8  9  3  2  8  2  2  3  1  0  1  1  5  0  4]
 [ 7  7  1  3  6  5  5  5  2  2  2  1  3  4  1  7  5]
 [ 4  8  0  0  1 19  1  1  6  2 10  1  6 11  2  0  4]
 [ 2  0  0  4  0  2 44  3  0  1  2 10  1  0  0  0  2]
 [ 0  0  0  2  3  7  2 28  0  0  1  4  6  0  2  0  6]
 [ 3  3  1  2  1  4  0  1 16  3  3  0  7  2  1  2  0]
 [ 0 20  1  0  0  0  0  0  0 23  1 11  0  1  3  0  3]
 [ 7  4  0  3  0  8 13  1  3  1  7  3  4  4  0  2  4]
 [ 1  2  1  0  0  0  6  0  0  2  1 33  0  0  0  2  2]
 [ 0  7  1  0  1  5  3  2 10  0  1  1 28  6  1  2  1]
 [ 3  4  0  0  1  0  0  0  5  2  0  2  0 31  1  0  6]
 [ 2  1  3  4  1  2  8 10  6  0  1  3  6  1 10  3  1]
 [ 4  4  6  3  1  1  8  1  3 12  0  5  0  8  2  3  4]
 [ 0  3  1  0  0  1  3  1  0  6  0  3  0  6  0  0 41]]
==================================================
Model: Support Vector Classifier
Accuracy: 0.5508870214752568
Classification Report:
               precision    recall  f1-score   support

           0       0.43      0.44      0.43        68
           1       0.54      0.85      0.66        72
           2       0.48      0.44      0.46        57
           3       0.61      0.60      0.61        58
           4       0.57      0.12      0.20        66
           5       0.38      0.33      0.35        76
           6       0.58      0.89      0.70        71
           7       0.90      0.62      0.74        61
           8       0.42      0.45      0.44        49
           9       0.53      0.78      0.63        63
          10       0.36      0.28      0.32        64
          11       0.58      0.86      0.69        50
          12       0.80      0.41      0.54        69
          13       0.47      0.65      0.55        55
          14       0.60      0.52      0.56        62
          15       0.59      0.45      0.51        65
          16       0.71      0.74      0.72        65

    accuracy                           0.55      1071
   macro avg       0.56      0.55      0.54      1071
weighted avg       0.56      0.55      0.53      1071

Confusion Matrix:
 [[30  5  3  1  1  2  5  0  0  3  4  8  0  4  0  1  1]
 [ 1 61  0  0  0  1  1  0  0  6  0  0  0  2  0  0  0]
 [ 4  1 25  3  0  1  3  0  8  3  1  6  0  1  0  1  0]
 [ 1  7  3 35  2  2  1  0  2  1  1  0  0  1  1  1  0]
 [ 5  6  0  2  8  5  7  0  1  2  5  3  3  3  6  7  3]
 [ 2  9  5  2  0 25  2  1  5  3  8  0  1  9  1  1  2]
 [ 2  0  0  0  0  1 63  0  0  0  3  2  0  0  0  0  0]
 [ 1  0  1  4  0  6  1 38  0  0  1  1  1  2  2  1  2]
 [ 6  2  3  0  1  4  0  0 22  1  6  0  0  4  0  0  0]
 [ 0 10  0  0  0  0  0  0  0 49  0  2  0  0  1  0  1]
 [ 9  0  0  1  1  3 10  0  3  4 18  3  1  3  3  3  2]
 [ 0  0  1  0  0  0  4  0  0  0  0 43  0  0  0  0  2]
 [ 2  4  5  1  1  5  1  0  5  5  3  1 28  4  4  0  0]
 [ 1  3  0  1  0  0  0  0  3  4  0  0  0 36  1  2  4]
 [ 1  1  2  6  0  8  5  2  2  0  0  1  1  0 32  1  0]
 [ 5  4  4  1  0  0  3  0  0  6  0  3  0  5  2 29  3]
 [ 0  0  0  0  0  2  2  1  1  6  0  1  0  2  0  2 48]]
==================================================
Model: Random Forest Classifier
Accuracy: 0.7945845004668534
Classification Report:
               precision    recall  f1-score   support

           0       0.70      0.75      0.72        68
           1       0.83      0.97      0.90        72
           2       0.87      0.82      0.85        57
           3       0.81      0.88      0.84        58
           4       0.73      0.45      0.56        66
           5       0.47      0.24      0.32        76
           6       0.82      0.92      0.87        71
           7       0.92      0.74      0.82        61
           8       0.82      0.94      0.88        49
           9       0.81      0.97      0.88        63
          10       0.67      0.77      0.72        64
          11       0.81      1.00      0.89        50
          12       0.93      0.74      0.82        69
          13       0.70      1.00      0.82        55
          14       0.86      0.82      0.84        62
          15       0.90      0.86      0.88        65
          16       0.80      0.85      0.82        65

    accuracy                           0.79      1071
   macro avg       0.79      0.81      0.79      1071
weighted avg       0.79      0.79      0.78      1071

Confusion Matrix:
 [[51  2  0  0  2  0  0  1  1  3  3  1  1  1  0  1  1]
 [ 0 70  0  0  0  0  0  0  0  1  0  0  1  0  0  0  0]
 [ 2  0 47  0  0  1  2  0  1  0  1  2  0  0  0  1  0]
 [ 1  3  0 51  0  0  0  0  0  0  1  0  0  0  0  0  2]
 [ 5  2  2  1 30  4  3  1  2  3  5  2  0  1  1  2  2]
 [ 6  5  3  2  3 18  4  0  5  4  8  0  0 11  2  0  5]
 [ 1  0  1  0  0  1 65  0  0  0  2  0  1  0  0  0  0]
 [ 1  0  0  3  2  3  1 45  1  0  0  0  0  2  1  1  1]
 [ 2  0  0  0  0  0  0  0 46  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 61  0  1  0  0  0  0  1]
 [ 2  1  0  3  1  1  1  0  0  1 49  4  0  0  1  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0 50  0  0  0  0  0]
 [ 1  0  0  0  1  5  1  0  0  0  2  0 51  6  1  1  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 55  0  0  0]
 [ 0  0  1  3  1  2  0  2  0  0  0  1  1  0 51  0  0]
 [ 1  1  0  0  0  0  2  0  0  0  0  1  0  0  2 56  2]
 [ 0  0  0  0  1  3  0  0  0  2  1  0  0  3  0  0 55]]
==================================================
Model: K Nearest Neighbors
Accuracy: 0.6414565826330533
Classification Report:
               precision    recall  f1-score   support

           0       0.58      0.66      0.62        68
           1       0.77      0.89      0.83        72
           2       0.62      0.88      0.72        57
           3       0.53      0.71      0.60        58
           4       0.32      0.15      0.21        66
           5       0.32      0.12      0.17        76
           6       0.77      0.87      0.82        71
           7       0.81      0.28      0.41        61
           8       0.50      0.67      0.57        49
           9       0.69      0.92      0.79        63
          10       0.56      0.48      0.52        64
          11       0.70      0.98      0.82        50
          12       0.72      0.48      0.57        69
          13       0.63      0.87      0.73        55
          14       0.68      0.55      0.61        62
          15       0.68      0.82      0.74        65
          16       0.77      0.77      0.77        65

    accuracy                           0.64      1071
   macro avg       0.63      0.65      0.62      1071
weighted avg       0.63      0.64      0.61      1071

Confusion Matrix:
 [[45  2  0  2  2  2  0  0  4  0  2  6  0  0  0  2  1]
 [ 0 64  0  0  0  1  1  0  2  1  1  0  0  1  0  1  0]
 [ 1  0 50  0  1  0  1  0  1  0  1  1  0  0  0  1  0]
 [ 2  4  1 41  3  1  0  0  1  1  1  0  0  0  0  0  3]
 [ 5  3  7  2 10  2  6  1  5  6  3  1  4  2  4  4  1]
 [ 8  4  6  5  3  9  0  0  8  4  6  2  2  9  3  3  4]
 [ 0  0  1  4  0  0 62  0  0  0  3  0  1  0  0  0  0]
 [ 2  1  3  4  7  1  0 17  4  0  4  1  1  5  2  6  3]
 [ 1  1  4  3  0  1  0  0 33  1  1  0  0  3  1  0  0]
 [ 0  1  0  1  0  0  0  0  0 58  0  1  0  1  0  1  0]
 [ 6  0  2  2  1  4  1  0  2  1 31  3  3  1  3  2  2]
 [ 1  0  0  0  0  0  0  0  0  0  0 49  0  0  0  0  0]
 [ 2  1  4  3  4  4  3  0  3  3  0  1 33  5  2  1  0]
 [ 1  0  0  1  0  0  0  0  0  0  1  0  0 48  1  2  1]
 [ 3  0  3  7  0  3  4  1  1  2  0  1  2  1 34  0  0]
 [ 1  2  0  0  0  0  2  2  0  2  0  3  0  0  0 53  0]
 [ 0  0  0  3  0  0  1  0  2  5  1  1  0  0  0  2 50]]
==================================================
Model: Decision Tree Classifier
Accuracy: 0.6078431372549019
Classification Report:
               precision    recall  f1-score   support

           0       0.60      0.49      0.54        68
           1       0.73      0.82      0.77        72
           2       0.56      0.60      0.58        57
           3       0.63      0.69      0.66        58
           4       0.30      0.27      0.29        66
           5       0.21      0.16      0.18        76
           6       0.76      0.75      0.75        71
           7       0.63      0.54      0.58        61
           8       0.55      0.61      0.58        49
           9       0.80      0.84      0.82        63
          10       0.48      0.47      0.47        64
          11       0.71      0.90      0.80        50
          12       0.68      0.57      0.62        69
          13       0.67      0.85      0.75        55
          14       0.67      0.60      0.63        62
          15       0.51      0.60      0.55        65
          16       0.74      0.75      0.75        65

    accuracy                           0.61      1071
   macro avg       0.60      0.62      0.61      1071
weighted avg       0.60      0.61      0.60      1071

Confusion Matrix:
 [[33  1  6  2  2  7  0  0  3  1  1  2  2  0  1  6  1]
 [ 2 59  0  0  0  1  0  1  0  1  0  0  2  2  0  2  2]
 [ 1  1 34  2  2  3  2  1  1  1  2  4  0  2  1  0  0]
 [ 0  3  2 40  2  0  1  1  1  2  2  0  0  1  1  2  0]
 [ 2  3  2  4 18  7  2  9  1  0  3  3  0  1  1  6  4]
 [ 4  3  3  4  5 12  4  0  7  5 12  2  2  5  4  1  3]
 [ 1  1  3  0  5  0 53  0  1  0  2  0  1  1  1  1  1]
 [ 2  0  1  4  9  1  0 33  3  0  0  0  1  1  1  4  1]
 [ 0  1  3  2  5  6  1  0 30  0  0  0  0  1  0  0  0]
 [ 0  2  0  0  0  2  0  0  0 53  2  0  2  0  0  1  1]
 [ 3  2  0  1  0  7  2  0  3  0 30  6  5  0  1  3  1]
 [ 1  0  1  0  1  0  0  0  0  1  1 45  0  0  0  0  0]
 [ 1  1  2  2  0  2  1  2  2  1  3  0 39  4  2  7  0]
 [ 0  0  1  1  0  0  1  0  0  1  1  0  0 47  2  0  1]
 [ 1  0  1  0  6  3  1  4  2  0  1  0  2  0 37  2  2]
 [ 3  3  2  1  4  3  2  0  1  0  2  1  1  2  1 39  0]
 [ 1  1  0  0  1  4  0  1  0  0  1  0  0  3  2  2 49]]
==================================================
Model: Gaussian Naive Bayes
Accuracy: 0.19794584500466852
Classification Report:
               precision    recall  f1-score   support

           0       0.14      0.01      0.03        68
           1       0.53      0.28      0.36        72
           2       0.00      0.00      0.00        57
           3       0.60      0.05      0.10        58
           4       0.57      0.06      0.11        66
           5       0.50      0.09      0.16        76
           6       0.19      0.97      0.31        71
           7       0.51      0.36      0.42        61
           8       0.12      0.02      0.04        49
           9       0.00      0.00      0.00        63
          10       0.00      0.00      0.00        64
          11       0.70      0.28      0.40        50
          12       1.00      0.07      0.14        69
          13       0.10      0.98      0.18        55
          14       0.58      0.11      0.19        62
          15       0.56      0.08      0.14        65
          16       0.00      0.00      0.00        65

    accuracy                           0.20      1071
   macro avg       0.36      0.20      0.15      1071
weighted avg       0.36      0.20      0.15      1071

Confusion Matrix:
 [[ 1  0  1  0  0  0 21  0  0  0  0  1  0 44  0  0  0]
 [ 0 20  0  0  0  0 17  0  0  0  0  0  0 35  0  0  0]
 [ 0  0  0  0  1  0 12  3  3  0  0  1  0 37  0  0  0]
 [ 0  0  1  3  1  0 23  3  0  0  0  0  0 27  0  0  0]
 [ 0  2  0  0  4  1 22  2  1  0  0  0  0 29  2  3  0]
 [ 0  2  0  0  0  7 27  1  1  0  0  0  0 37  0  1  0]
 [ 0  0  0  0  0  0 69  2  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  1 21 22  0  0  0  0  0 12  3  0  0]
 [ 0  0  0  0  0  2  5  3  1  0  0  0  0 38  0  0  0]
 [ 0  6  0  0  0  0 15  0  0  0  0  0  0 42  0  0  0]
 [ 0  2  0  0  1  1 31  0  0  0  0  0  0 29  0  0  0]
 [ 2  1  1  0  0  0 14  0  0  0  0 14  0 18  0  0  0]
 [ 0  0  0  0  0  1 19  2  1  0  0  0  5 41  0  0  0]
 [ 0  1  0  0  0  0  0  0  0  0  0  0  0 54  0  0  0]
 [ 1  1  0  0  0  1 30  5  0  0  0  1  0 16  7  0  0]
 [ 3  3  1  0  0  0 19  0  1  0  0  3  0 30  0  5  0]
 [ 0  0  0  0  0  0 24  0  0  0  0  0  0 41  0  0  0]]
==================================================
Model: AdaBoost Classifier
Accuracy: 0.1839402427637722
Classification Report:
               precision    recall  f1-score   support

           0       0.43      0.04      0.08        68
           1       0.64      0.10      0.17        72
           2       0.00      0.00      0.00        57
           3       0.23      0.09      0.12        58
           4       0.24      0.06      0.10        66
           5       0.14      0.05      0.08        76
           6       0.00      0.00      0.00        71
           7       0.16      0.87      0.27        61
           8       0.15      0.24      0.19        49
           9       0.17      0.62      0.27        63
          10       0.20      0.02      0.03        64
          11       0.19      0.42      0.26        50
          12       1.00      0.09      0.16        69
          13       0.27      0.29      0.28        55
          14       0.27      0.13      0.17        62
          15       0.00      0.00      0.00        65
          16       0.15      0.28      0.20        65

    accuracy                           0.18      1071
   macro avg       0.25      0.19      0.14      1071
weighted avg       0.26      0.18      0.13      1071

Confusion Matrix:
 [[ 3  0  0  1  0  2  0 17 11 23  0  8  0  0  1  0  2]
 [ 0  7  0  5  0  2  0  3  0 21  0  1  0  1  0  0 32]
 [ 1  0  0  1  4  1  0 16  8 14  0  4  0  3  2  0  3]
 [ 0  3  0  5  0  0  0 28  5  5  0  5  0  0  1  0  6]
 [ 1  0  1  0  4  0  0 25  7  9  1  7  0  1  3  0  7]
 [ 1  0  0  2  0  4  0 14  8 15  1  9  0  9  0  0 13]
 [ 0  0  0  3  0  4  0 35  5  2  1 11  0  0  5  0  5]
 [ 0  0  0  1  0  1  0 53  0  0  0  1  0  1  2  0  2]
 [ 0  0  0  0  3  0  0 13 12  8  1  3  0  6  1  0  2]
 [ 0  0  0  0  1  1  0  0  0 39  0 14  0  1  0  0  7]
 [ 0  0  2  1  0  5  0 16  6 15  1 11  0  1  1  0  5]
 [ 0  0  0  0  0  0  1 22  0  6  0 21  0  0  0  0  0]
 [ 0  0  4  0  3  4  0 31  3 12  0  4  6  1  0  0  1]
 [ 0  0  1  1  0  0  0  4  0 33  0  0  0 16  0  0  0]
 [ 1  0  2  1  1  2  0 34  5  0  0  2  0  2  8  0  4]
 [ 0  0  2  0  1  1  0 16  8 12  0  6  0  4  5  0 10]
 [ 0  1  0  1  0  2  0  6  0 16  0  6  0 14  1  0 18]]
==================================================
Model: Gradient Boosting Classifier
Accuracy: 0.6713352007469654
Classification Report:
               precision    recall  f1-score   support

           0       0.49      0.57      0.53        68
           1       0.79      0.94      0.86        72
           2       0.72      0.67      0.69        57
           3       0.67      0.74      0.70        58
           4       0.46      0.17      0.24        66
           5       0.44      0.33      0.38        76
           6       0.71      0.89      0.79        71
           7       0.98      0.84      0.90        61
           8       0.65      0.65      0.65        49
           9       0.74      0.92      0.82        63
          10       0.38      0.39      0.38        64
          11       0.71      0.92      0.80        50
          12       0.85      0.57      0.68        69
          13       0.59      0.93      0.72        55
          14       0.80      0.52      0.63        62
          15       0.70      0.74      0.72        65
          16       0.74      0.77      0.75        65

    accuracy                           0.67      1071
   macro avg       0.67      0.68      0.66      1071
weighted avg       0.67      0.67      0.66      1071

Confusion Matrix:
 [[39  4  0  1  2  4  1  0  2  1  5  2  2  1  0  3  1]
 [ 0 68  0  0  0  0  0  0  0  2  1  0  0  1  0  0  0]
 [ 1  2 38  1  0  1  3  0  1  1  1  3  0  2  0  2  1]
 [ 3  2  2 43  2  0  2  0  0  1  2  0  0  0  0  0  1]
 [ 6  2  3  3 11  5  3  0  1  2  8  2  1  2  6  6  5]
 [ 5  2  0  2  3 25  4  0  6  3  6  1  1 13  0  2  3]
 [ 1  0  0  0  0  0 63  0  0  0  5  2  0  0  0  0  0]
 [ 1  0  0  2  1  2  3 51  0  0  0  0  1  0  0  0  0]
 [ 2  0  0  2  0  3  0  0 32  0  4  0  1  3  2  0  0]
 [ 0  2  0  0  0  0  0  0  0 58  0  1  0  1  0  0  1]
 [10  1  2  1  1  5  3  0  2  2 25  5  0  3  0  3  1]
 [ 2  0  0  0  0  0  0  0  0  0  0 46  0  0  0  0  2]
 [ 1  2  3  2  0  1  1  1  2  4  5  1 39  4  0  2  1]
 [ 0  0  1  0  0  1  0  0  0  1  0  0  0 51  0  0  1]
 [ 3  1  2  5  3  5  3  0  2  0  3  1  0  1 32  1  0]
 [ 3  0  2  1  1  2  3  0  0  1  0  1  1  1  0 48  1]
 [ 2  0  0  1  0  3  0  0  1  2  1  0  0  3  0  2 50]]
==================================================
Model: XGBoost Classifier
Accuracy: 0.780578898225957
Classification Report:
               precision    recall  f1-score   support

           0       0.64      0.72      0.68        68
           1       0.89      0.93      0.91        72
           2       0.85      0.88      0.86        57
           3       0.84      0.83      0.83        58
           4       0.69      0.38      0.49        66
           5       0.42      0.33      0.37        76
           6       0.86      0.87      0.87        71
           7       0.96      0.79      0.86        61
           8       0.74      0.86      0.79        49
           9       0.91      0.98      0.95        63
          10       0.56      0.67      0.61        64
          11       0.86      0.98      0.92        50
          12       0.80      0.71      0.75        69
          13       0.75      1.00      0.86        55
          14       0.88      0.81      0.84        62
          15       0.81      0.89      0.85        65
          16       0.84      0.83      0.84        65

    accuracy                           0.78      1071
   macro avg       0.78      0.79      0.78      1071
weighted avg       0.78      0.78      0.77      1071

Confusion Matrix:
 [[49  0  0  2  1  4  0  0  1  0  4  0  3  1  0  1  2]
 [ 0 67  0  0  0  1  0  0  0  1  1  0  1  0  0  1  0]
 [ 1  0 50  0  0  2  2  0  0  0  0  1  0  0  0  1  0]
 [ 2  2  1 48  2  0  0  1  0  0  0  0  1  0  0  0  1]
 [ 7  2  2  3 25  4  2  0  2  0  4  2  1  1  4  5  2]
 [ 7  3  2  0  1 25  1  0  7  2  9  1  2 10  2  0  4]
 [ 0  0  0  0  0  2 62  0  0  0  6  0  0  0  0  1  0]
 [ 1  0  0  3  3  2  2 48  0  0  0  0  2  0  0  0  0]
 [ 1  0  0  0  0  3  0  0 42  0  2  0  1  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 62  0  1  0  0  0  0  0]
 [ 6  0  1  1  1  4  1  0  3  0 43  2  0  1  0  1  0]
 [ 1  0  0  0  0  0  0  0  0  0  0 49  0  0  0  0  0]
 [ 1  0  1  0  0  5  0  0  1  3  5  0 49  2  0  2  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 55  0  0  0]
 [ 0  1  2  0  3  1  0  1  0  0  3  0  0  0 50  1  0]
 [ 0  0  0  0  0  2  2  0  0  0  0  1  1  0  0 58  1]
 [ 1  0  0  0  0  4  0  0  1  0  0  0  0  3  1  1 54]]

# Model Selection (Random Forest)

In [16]:
model = RandomForestClassifier()

model.fit(X_train_scaled, y_train)
# Predict on test set
y_pred = model.predict(X_test_scaled)

# Calculate metrics
print("Accuracy: ",accuracy_score(y_test, y_pred))
print("Report: ",classification_report(y_test, y_pred))
print("Confusion Matrix: ",confusion_matrix(y_test, y_pred))

Accuracy:  0.7861811391223156
Report:                precision    recall  f1-score   support

           0       0.69      0.74      0.71        68
           1       0.82      0.96      0.88        72
           2       0.81      0.84      0.83        57
           3       0.84      0.91      0.88        58
           4       0.73      0.41      0.52        66
           5       0.41      0.21      0.28        76
           6       0.80      0.93      0.86        71
           7       0.94      0.74      0.83        61
           8       0.84      0.94      0.88        49
           9       0.81      0.95      0.88        63
          10       0.64      0.73      0.69        64
          11       0.85      1.00      0.92        50
          12       0.94      0.72      0.82        69
          13       0.68      0.98      0.81        55
          14       0.83      0.77      0.80        62
          15       0.89      0.88      0.88        65
          16       0.79      0.86      0.82        65

    accuracy                           0.79      1071
   macro avg       0.78      0.80      0.78      1071
weighted avg       0.78      0.79      0.77      1071

Confusion Matrix:  [[50  1  2  1  2  1  0  0  1  3  2  0  1  2  0  1  1]
 [ 0 69  0  1  0  0  0  0  0  1  0  0  0  0  0  0  1]
 [ 2  0 48  0  0  0  2  0  1  0  2  1  0  0  0  1  0]
 [ 1  3  0 53  0  0  0  0  0  0  0  0  0  0  0  0  1]
 [ 5  2  3  1 27  6  2  1  2  2  4  3  0  1  3  2  2]
 [ 6  5  4  1  2 16  3  0  3  3 11  0  1 11  3  1  6]
 [ 1  0  0  0  0  0 66  0  0  0  3  1  0  0  0  0  0]
 [ 3  0  0  2  0  3  1 45  1  0  1  0  0  2  1  0  2]
 [ 2  0  0  0  0  0  0  0 46  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 60  0  1  0  0  0  1  1]
 [ 2  0  2  2  0  3  3  0  1  1 47  2  0  0  1  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0 50  0  0  0  0  0]
 [ 0  2  0  0  1  5  1  0  0  2  1  0 50  5  1  1  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 54  1  0  0]
 [ 0  1  0  1  3  2  2  2  0  0  1  1  1  0 48  0  0]
 [ 0  1  0  1  2  0  2  0  0  0  0  0  0  1  0 57  1]
 [ 0  0  0  0  0  3  1  0  0  2  0  0  0  3  0  0 56]]

# Single Input Predictions

In [17]:
# test 1
print("Actual Label :", y_test.iloc[10])
print("Model Prediction :",model.predict(X_test_scaled[10].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Wow! Model doing well.....")
else:
    print("not sure......")

Actual Label : 12
Model Prediction : 12
Wow! Model doing well.....

In [18]:
# test 2
print("Actual Label :", y_test.iloc[300])
print("Model Prediction :",model.predict(X_test_scaled[300].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Wow! Model doing well.....")
else:
    print("not sure......")

Actual Label : 0
Model Prediction : 0
Wow! Model doing well.....

In [19]:
# test 2
print("Actual Label :", y_test.iloc[23])
print("Model Prediction :",model.predict(X_test_scaled[23].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Wow! Model doing well.....")
else:
    print("not sure......")

Actual Label : 3
Model Prediction : 3
Wow! Model doing well.....

# Saving & Load Files

In [20]:

import pickle

# Save the scaler and the model
with open("Models/scaler.pkl", "wb") as scaler_file:
    pickle.dump(scaler, scaler_file)
with open("Models/model.pkl", "wb") as model_file:
    pickle.dump(model, model_file)

# Recommendation System

In [21]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("Models/scaler.pkl", 'rb'))
model = pickle.load(open("Models/model.pkl", 'rb'))

# Verify the model type
print(
    type(model)
)  # Should output something like <class 'sklearn.ensemble._forest.RandomForestClassifier'>

# Check if model supports predict_proba
if hasattr(model, "predict_proba"):
    print("Model supports predict_proba")
else:
    print("Model does NOT support predict_proba")
    
class_names = [
    "Bachelor of Supply Chain Management",
    "Bachelor of Statistics",
    "Bachelor of Corporate Communications",
    "Bachelor of Human Resouce Management",
    "Bachelor of Development Studies",
    "Bachelor of Procurement and Contract Management",
    "Bachelor of Project Management",
    "Bachelor of Business Administration",
    "Bachelor of Journalism",
    "Bachelor of Business and Office Management",
    "Bachelor of Economics and Statistics",
    "Bachelor of Mass Communication",
    "Bachelor of Commerce",
    "Bachelor of Procurement and Logistics",
    "Bachelor of Finance",
    "Bachelor of Business Information Technology",
    "Bachelor of Technology and Entrepreneurship Management",
]

def Recommendations(gender, extracurricular_activities,
                    riasec, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, extracurricular_activities_encoded,
                               riasec, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

<class 'sklearn.ensemble._forest.RandomForestClassifier'>
Model supports predict_proba

In [22]:
# Example usage 1
final_recommendations = Recommendations(gender='female',
                                        extracurricular_activities=False,
                                        riasec=32,
                                        math_score=65,
                                        history_score=60,
                                        physics_score=97,
                                        chemistry_score=94,
                                        biology_score=71,
                                        english_score=81,
                                        geography_score=66,
                                        total_score=534,
                                        average_score=76.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Bachelor of Project Management with probability 0.61
Bachelor of Development Studies with probability 0.13
Bachelor of Business Administration with probability 0.09
Bachelor of Finance with probability 0.04
Bachelor of Human Resouce Management with probability 0.03

In [23]:
# Example usage 2
final_recommendations = Recommendations(gender='female',
                                        extracurricular_activities=False,
                                        riasec=40,
                                        math_score=87,
                                        history_score=73,
                                        physics_score=67,
                                        chemistry_score=91,
                                        biology_score=79,
                                        english_score=60,
                                        geography_score=77,
                                        total_score=583,
                                        average_score=83.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Bachelor of Human Resouce Management with probability 0.43
Bachelor of Business Administration with probability 0.13
Bachelor of Supply Chain Management with probability 0.08
Bachelor of Finance with probability 0.07
Bachelor of Procurement and Contract Management with probability 0.07

In [24]:
# sklear version in pychar production 
import sklearn
print(sklearn.__version__)
# in pycharm env install
# pip install scikit-learn==1.3.2

1.4.1.post1